body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightblue;
    color: black;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.box {
    font-family: lucida console;
    font-weight: bold;
    background-color: plum;
    border: 1px solid #ccc;
    padding: 10px;
    border: solid 2px darkviolet;
}

.range {
border: solid 2px black;
border-radius: 5px 5px 5px 5px;
display: inline;

}

.checkbox {
    border: solid 2px black;
    border-radius: 5px 5px 5px 5px;
    display: inline;
    

}

.date {
    border: solid 2px black;
    border-radius: 5px 5px 5px 5px;
    display: inline;
    
}

.color {
    border: solid 2px black;
    border-radius: 5px 5px 5px 5px;
    display: inline;
    
}

img {
width: 120px;
height: 100px;
border: solid 2px;




}